# Created by .ignore support plugin (hsz.mobi)
### Java template
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear
*.txt
pr*.xml
*.DB
*.s3db 
settings.json
# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
# logs #
*.log
*.0
*.lck
*.s3db-journal
logs/
proxies_good.json
build/
*SNAP*.jar 

.gradle
.idea
settings
out/
backups/
#generator settings, see example
jooq_code_generator/jooq-codegen-3.11.5.xsd
test.*
temp.*
*.test

sqlite2mysql/